*{
    margin 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
}

h1{
    font-size: 1.8rem;
    
}

.container{
    width: 100%;
    max-width: 400px;
    background: #e8e8e8;
    padding: 5px 10px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0px 1px black;
}

button{
    font-style: 800;
    padding: 8px 16px;
    margin: 10px 5px;
    border-radius: 4px;
    border: none;
    background: #e8e9e8;
    transition: background 0.3s ease;
    box-shadow: 0 0 2px black;
}

#error-span{
    color: red;
    font-weight: bold;
    font-size: 14px;
    display: block;
}

button:hover{
    background: #989898;
}

input{
  padding: 8px 16px;
  margin: 5px 10px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 2px #e8e8e8
}

input:focus{
    outline: none;
}

#password-paragraph{
    font-style: 800;
    overflow: scroll;
    background: #333;
    padding: 10px 20px;
    display: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
}